

.nav-tabs .nav-link {
    padding: 12px;
    color: #ffffff;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin-bottom: -20px;
}
.nav-tabs {
    border-bottom: 0px;
}
