 <!-- main-wrapper -->
 <div class="main-wrapper">
    <!--  Section -->
    <section class="talent-and-careers bg-rgb-dark">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-2">
            <h2>Talents And Courses</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase" routerLink='/writer' style="cursor: pointer;">Writers</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase" routerLink='/directors' style="cursor: pointer;">directors</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase" routerLink='/actors' style="cursor: pointer;">actors</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase" routerLink='/cinema-to-grapher' style="cursor: pointer;">cinematographer</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase" routerLink='/editor' style="cursor: pointer;">editor</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase" routerLink='/sound-editor' style="cursor: pointer;">sound editor</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase" routerLink='/film-maker' style="cursor: pointer;">filmmaker</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase" routerLink='/Video-grapher' style="cursor: pointer;">Videographer</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-6 item">
            <div
              class="card addtional-materials"
              style="background-image: url(../../assets/images/course/1.jpg)"
            >
              <div class="overlay">
                <div class="text text-uppercase" routerLink='/film-editing' style="cursor: pointer;">Film Editing</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  End Section -->
  </div>
